
<div class="jumbotron">


<div class="carousel slide " data-ride="carousel">

    <div class="carousel-inner ">

        <h2 class="text-center"> Our clents </h2>

        <div class="carousel-item active pt-4" >

            <div class="row" style="padding: 20px;" >

                <div class="col">
                    <img src="assets/1.jpeg" class="img-fluid">
                </div>

                <div class="col">
                    <img src="assets/2.jpeg" class="img-fluid">
                </div>

                 <div class="col">
                    <img src="assets/3.jpeg" class="img-fluid">
                </div>

                <div class="col">
                    <img src="assets/4.jpeg" class="img-fluid">
                </div>

                <div class="col">
                    <img src="assets/5.png" class="img-fluid">
                </div>

                <div class="col">
                    <img src="assets/6.png" class="img-fluid">
                </div>

            </div>
        </div>
    </div>
 </div>

 </div>

<!-- 
 <div class="jumbotron">


   <div class="container">
  <div class="row">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-none d-lg-block">
            <div class="slide-box">
              <img src="https://picsum.photos/285/200/?image=0&random" alt="First slide">
              <img src="https://picsum.photos/285/200/?image=1&random" alt="First slide">
              <img src="https://picsum.photos/285/200/?image=2&random" alt="First slide">
              <img src="https://picsum.photos/285/200/?image=3&random" alt="First slide">
            </div>
          </div>
          <div class="d-none d-md-block d-lg-none">
            <div class="slide-box">
              <img src="https://picsum.photos/240/200/?image=0&random" alt="First slide">
              <img src="https://picsum.photos/240/200/?image=1&random" alt="First slide">
              <img src="https://picsum.photos/240/200/?image=2&random" alt="First slide">
            </div>
          </div>
          <div class="d-none d-sm-block d-md-none">
            <div class="slide-box">
              <img src="https://picsum.photos/270/200/?image=0&random" alt="First slide">
              <img src="https://picsum.photos/270/200/?image=1&random" alt="First slide">
            </div>
          </div>
          <div class="d-block d-sm-none">
            <img class="d-block w-100" src="https://picsum.photos/600/400/?image=0&random" alt="First slide">
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-none d-lg-block">
            <div class="slide-box">
              <img src="https://picsum.photos/285/200/?image=4&random" alt="Second slide">
              <img src="https://picsum.photos/285/200/?image=5&random" alt="Second slide">
              <img src="https://picsum.photos/285/200/?image=6&random" alt="Second slide">
              <img src="https://picsum.photos/285/200/?image=7&random" alt="Second slide">
            </div>
          </div>
          <div class="d-none d-md-block d-lg-none">
            <div class="slide-box">
              <img src="https://picsum.photos/240/200/?image=3&random" alt="Second slide">
              <img src="https://picsum.photos/240/200/?image=4&random" alt="Second slide">
              <img src="https://picsum.photos/240/200/?image=5&random" alt="Second slide">
            </div>
          </div>
          <div class="d-none d-sm-block d-md-none">
            <div class="slide-box">
              <img src="https://picsum.photos/270/200/?image=2&random" alt="Second slide">
              <img src="https://picsum.photos/270/200/?image=3&random" alt="Second slide">
            </div>
          </div>
          <div class="d-block d-sm-none">
            <img class="d-block w-100" src="https://picsum.photos/600/400/?image=1&random" alt="Second slide">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

 </div> -->