

 <nav class="navbar navbar-expand-lg  topbar">

   <img src="assets/icon.png" class="img-fluid logo">

  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="padding-right: 50px;">


       <li class="nav-item active">
        <a class="nav-link" href="#">
           <i class="fa fa-phone mr-1"></i>
           9405893391
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope mr-1"></i>
          mettechnique@gmail.com
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >
          <i class="fa fa-clock-o mr-1"></i>
          10 AM TO 6 PM
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item  sosial-link1">
        <a class="nav-link " href="#"> <i class="fa fa-facebook mr-2  social-icon.facebook" >
          <span style="background-color: #1877F2" ></span>
        </i>
      </a>
      </li>

      <li class="nav-item social sosial-link2">
        <a class="nav-link" href="#"> <i class="fa fa-twitter circle mr-1 social-icon.twitter "></i> </a>
      </li>

      <li class="nav-item social sosial-link3">
        <a class="nav-link" href="#"> <i class="fa fa-linkedin circle  mr-1 social-icon.linkedin "></i> </a>
      </li>

      <li class="nav-item social sosial-link4">
        <a class="nav-link" href="#"> <i class="fa fa-instagram circle  mr-1  social-icon.instagram"></i> </a>
      </li>
    </ul>

    <!-- <div class="dropdown">
      <button class="btn btn-white dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select language
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div> -->







  </div>
</nav>


