

<main class="text-capitalize">
     
    <div class="about">
  
        <div class="title">
            <h2 class="pb-3">About The Company</h2>
        </div>

        
<div class="container-fluid">

  <div id="demo" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">

          <div class="carousel-item active">

                <img src="assets/slid.JPG" class="img-fluid">


          </div>

          <div class="carousel-item">

                  <img src="assets/slid2.JPG" class="img-fluid">

          </div>
          
          <div class="carousel-item">

                <img src="assets/img1.JPG" class="img-fluid">
                  
          </div>
      </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class='fa fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fa fa-arrow-right'></i> </a>
  </div>
</div>

  
        <div class="desc">
            <p class="text-capitalize">
                The Company Was Established On 12 May 2018. Ajay More Is The Founder And Chief
              Executive Of The Organization. He Has More Than 22 Years Of Experience In This
              Field .we Aspire To Offer Specialized Services In Manufacturing And Distribution
              Of Lab Equipments, Servicing, And Calibration Of Testing Machine, Supply Of Lab
              Consumable And Spares In Addition We Also Provide Consultancy In Heat
              Treatment. Our Goal Is Deliver To Quality And Value For Money To Our Clients.
           </p>
        </div>
    </div>
    <!-- ---------------------------------------------------------------- -->
    <div class="row pl-4 change " >
  
        <div class="card  ">
            <div class="card_img"> <img src="assets/ig2.JPG" class="img-fluid"> </div>
        </div>
  
        <div class="card">
            <div class="card_img"> <img src="assets/img3.JPG" class="img-fluid"> </div>
        </div>
  
        <div class="card">
            <div class="card_img"><img src="assets/img4.JPG" class="img-fluid"> </div>
        </div>
  
    </div>
  
  
    <!-- --------------------------------------------------------- -->
    <div class="card"> 
    <div class="title">
      <h3 class="text-center pt-3 pb-3">  Mission </h3>
    </div>
     <div class="desc">
      <p>
        Our Mission Is To Provide Our Customers A Total Solution Starting From Equipment
        Selection, Considering Product &amp; Quality Requirement Also Product Training Service,
        Caliberation And Repairing Of The Equipments. We Aim To Maintain Highest Levels Of
        Professionlism, Intergrity, Honesty And Fairness In Relationships With Our
        Suppliers,associates And Customers.
       </p>
  </div>
    </div>
  
 <div class="card"> 
  <div class="title">
      <h3 class="text-center pb-3 pt-3">  Vision </h3>
    </div>
     <div class="desc">
      <p>
        As A Leading Manufacturer In Metallurgical Equipment We Always Engage Ourselves To
        Provide Best And Innovative Services To Our Customers.
       </p>
  </div>

  </div>
  
  
  
  <!-- QUALITY: -->
  
  
  <div class="title">
      <h3 class="text-center">  Quality</h3>
    </div>
     <div class="desc">
      <p>
        We Commit To Uphold The Quality Aspects:
       </p>
       <ul>
           <li>  Delivery Of Dedicated Services As Per The Specifications Of Clients  </li>
           <li>  Consistent Quality Improvement</li>
           <li> Innovative And Cost Effective Services </li>
           <li> Timely Exceution Of Services</li>
           <li> Considering Quality Policy And The Systems And Ensuring Implementation  </li>
           <li> The Continuous Feedback From Customer </li>
           <li> Updating The Latest Technologies </li>
       </ul>
  </div>
  
  
  
  <div class="title">
     
    </div>
     <div class="desc pb-3">
      <p>
        What We Offer:
       </p>
       <ul>
           <li> Manufacturing And Distribution Of Lab Equipments </li>
           <li>  Servicing,maintainenace And Caliberation Of Testing Machine</li>
           <li>  Consultancy In Heat Treatment </li>
           <li> Supplier Of Lab Consumables And Spares </li>
           
       </ul>
  </div>
  
  
  
  
  
  
  
  
  
  </main>
  
  
  
  
