


 <!-- -----------------------------FOOTER SECTION--------------------------------------- -->




<!-- Footer -->
<footer class="page-footer  " style=" background-color: #343a40; color: white;">

    <!-- Footer Links  #343a40 -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
            <!-- <h5 class=" text-uppercase mb-4">Footer Content</h5> -->
            <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 75%">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.922811235827!2d73.83790281489428!3d18.622541287349733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b92ad776e087%3A0x7a0c9fa39fd43bb8!2sMettechnik!5e0!3m2!1sen!2sin!4v1606222231629!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  
        </div>
  
  
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <h5 class=" text-uppercase mb-4">About</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">PROJECTS</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">ABOUT US</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">BLOG</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">AWARDS</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class=" text-uppercase mb-4">Address</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i> 113/9, S- BLOCK, NEAR TANNA UDYOG, TELECO ROAD MIDC, PUNE-411026</p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> mettechnique@gmail.com</p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i> 9405893391</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class=" text-uppercase mb-4">Follow Us</h5>
  
          <!-- Facebook -->
          <p>
          <a type="button" class="btn-floating  btn-fb">
            <i class="fab fa-facebook-f"></i>
          </a>
          </p>
          <!-- Twitter -->
          <p>
          <a type="button" class="btn-floating  btn-lg btn-tw">
            <i class="fab fa-twitter"></i>
          </a>
          </p>
          <!-- Google +-->
          <p>
          <a type="button" class="btn-floating btn-lg btn-gplus">
            <i class="fab fa-google-plus-g"></i>
          </a>
          </p>
          <!-- Dribbble -->
          <p>
          <a type="button" class="btn-floating  btn-lg btn-dribbble">
            <i class="fab fa-dribbble"></i>
          </a>
          </p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    
    <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> carkaro.com</a>
    </div> -->
    
  
  </footer>
  <!-- Footer -->
  
  
  
  
  