
<div>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">

            <div class="carousel-item active">
  
                  <img src="assets/m1.jpg" class="img-fluid">
  
  
            </div>

            <div class="carousel-item">
  
                    <img src="assets/m2.jpg" class="img-fluid">
  
            </div>
            
            <div class="carousel-item">
  
                  <img src="assets/m3.jpg" class="img-fluid">
                    
            </div>

            <div class="carousel-item">
  
              <img src="assets/m4.jpg" class="img-fluid">
                
        </div>

        </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class='fa fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fa fa-arrow-right'></i> </a>
    </div>
  </div>

  <br> 

<div class="div">
  
    <h2 class=" text-center"> Our Products </h2>

   <app-homeprod> </app-homeprod>
  
    
</div>

  <app-clients> </app-clients>
  
  
